<div style="width: 100%; height: 20px; background-color: #96ff92; margin-bottom: 10px;">view</div>

<button ng-repeat="variant in game.variants" ng-click="startGame(variant.width, variant.height)">
    {{ variant.width }}x{{ variant.height }}
</button>

<br>Очки: {{ game.points }}<br>

<div class="game" ng-if="cells.length > 0"
    ng-style="{
        height: (height * cellSide) + 'px',
        width: (width * cellSide) + 'px'
    }"
>
    <div ng-repeat="cell in cells"
        class="field-cell"
        ng-if="game.status !== game.statuses.GAME_OVER"
        ng-click="fieldCellOnClick()"
        ng-class="{clicked: cell.clicked, animated: cell.animation.enabled}"
        ng-style="getFieldCellStyle()"
    ></div>

    <div class="game_over"
         ng-if="game.status === game.statuses.GAME_OVER"
         ng-style="{
             top: (height * cellSide / 2) + 'px'
         }"
    >
        Игра закончена
    </div>
</div>